<div class="flex h-screen bg-yellow-400" *ngIf="isRestaurantOpen; else noService">
  <shared-menu-sidebar 
    (onShowCart)="openSidebar('Cart')"
    (onShowSchedule)="openSchedule()"
    [categories]="categories">
  </shared-menu-sidebar>
  
  <div class="flex-1 overflow-y-auto p-6">
    <app-cart *ngIf="sidebarType == 'Cart'"></app-cart>
    
     <app-products
      [categories]="categories"
     ></app-products>
  </div>
</div>

<app-schedule *ngIf="isModalOpen"></app-schedule>

<ng-template #noService>
  <div class="flex-1">
  <shared-no-service-page
    (onShowSchedule)="openSchedule()">
  </shared-no-service-page>
</div>
</ng-template>