<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle">
            <table class="w-full rounded-xl">
                <thead>
                    <tr class="bg-yellow-100">
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                   
                </tbody>
            </table>
        </div>
    </div>

</div>