<div class="overflow-x-auto">
    <div class="align-middle">
            <table class="w-full rounded-xl">
                <thead>
                    <tr class="bg-yellow-100">
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    <tr>
                        <td>
                            <img class="h-24 rounded-lg" src="/assets/img/frijol.png" />
                        </td>
                        <td>Yo que se paste con mierda</td>
                        <td>Un delicioso paste no tan delicioso porque tiene mierda includia como el pastel de mierda en historias cruzadas:D</td>
                        <td>$99.99</td>
                        <td>
                            <div class="flex flex-col items-center gap-2">
                                <button class="p-2 rounded-full text-base text-secondary-100">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="p-2 rounded-full text-base text-error-100">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>