<div class="p-4 rounded-b-lg md:min-h-screen md:p-6 md:h-full md:rounded-r-lg bg-light shadow-lg">
    <div class="flex md:hidden justify-between items-center">
        <div class="flex">
            <img class="w-10 mr-2" src="./assets/img/logo.png" />

            <h3 class="font-medium text-2xl">Pastes</h3>
        </div>

        <div class="flex gap-x-6">
            <button href="/clients" class="text-xl text-primary-100 cursor-pointer"
                (click)="logout()">
                <i class="fa-solid fa-reply"></i>
            </button>

            <button (click)="toggleMenu()" class="text-xl text-accent-100">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>

    <!-- Menú Toggle -->
    <div *ngIf="isMenuOpen" class="md:hidden flex flex-col gap-y-8 mt-4">
        <div class="flex flex-col justify-center text-lg font-medium">
            <div class="flex justify-center items-center text-3xl font-semibold">
                <i class="fa-solid fa-gear"></i>
                <p class="ml-3">Opciones</p>
            </div>

            <div class="flex flex-col justify-center items-center" *ngIf="isAuthenticated">
                <a class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent" [href]="item.route"
                    *ngFor="let item of options">
                    <i [class]="item.icon"></i>

                    <p class="ml-3">{{ item.name }}</p>
                </a>

                <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent"
                    (click)="informationSidebar()">
                    <i class="fa-solid fa-circle-info"></i>

                    <p class="ml-3">Información</p>
                </button>
            </div>

            <a class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent" 
                (click)="logout()">
                <i class="fa-solid fa-reply"></i>

                <p class="ml-3">Regresar</p>
            </a>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="hidden md:flex w-60 flex-col justify-between h-full">
        <div class="flex flex-1 flex-col gap-y-4">
            <div class="flex flex-col justify-center items-center">
                <img class="w-40" src="./assets/img/logo.png" />
            </div>

            <div class="flex flex-col justify-center gap-y-4 mt-6 text-gray-900">
                <div class="flex justify-center items-center text-3xl font-semibold">
                    <i class="fa-solid fa-gear"></i>
                    <p class="ml-3">Opciones</p>
                </div>

                <div class="flex flex-col justify-center text-lg font-medium">
                    <div class="flex flex-col justify-center items-center" *ngIf="isAuthenticated">
                        <a class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent" [href]="item.route"
                            *ngFor="let item of options">
                            <i [class]="item.icon"></i>

                            <p class="ml-3">{{ item.name }}</p>
                        </a>

                        <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent"
                            (click)="informationSidebar()">
                            <i class="fa-solid fa-circle-info"></i>

                            <p class="ml-3">Información</p>
                        </button>
                    </div>

                    <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-accent"
                        (click)="logout()">
                        <i class="fa-solid fa-reply"></i>

                        <p class="ml-3">Regresar</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>