<form class="flex flex-col w-full" [formGroup]="form">
    <h3 class="text-center text-white font-bold text-xl">Completa los datos</h3>

    <div class="flex flex-col mt-4 p-4 bg-light rounded-md gap-y-3">
        <h4 class="text-center font-semibold text-lg">Propina</h4>

        <div class="px-4">
            <div class="grid grid-cols-3 gap-2">
                <button *ngFor="let item of tipArray" class="rounded-md border py-0.5"
                    [class]="item == tipSelected ? 'bg-primary-100 text-white font-semibold' : 'border-primary-100 text-primary-100 hover:bg-primary-100 hover:text-white hover:font-semibold'"
                    (click)="selectTip(item)">
                    {{ item | currency}}
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-col mt-4 p-4 bg-light rounded-md gap-y-3">
        <h4 class="text-center font-semibold text-lg">Cupón de descuento</h4>

        <div class="flex justify-between items-center">
            <input type="text" class="input-ctrl" />
            
            <button class="bg-yellow-200 text-white w-auto rounded-md py-1.5 px-4">Validar</button>
        </div>
    </div>

    <div class="flex flex-col mt-4 p-4 bg-light rounded-md gap-y-3">
        <h4 class="text-center font-semibold text-lg">Detalle del pedido</h4>

        <div class="grid grid-cols-2 gap-y-1">
            <label>Total del pedido:</label>
           <label>{{ cartSubtotal | currency }}</label>
           <label>Costo del envío:</label>
           <label>+ $0.00</label>
           <label>Propina:</label>
           <label>+ {{ tipSelected | currency }}</label>
           <div class="col-span-2">
            <hr class="border border-black" />
           </div>
           <label class="font-semibold">Total</label>
           <label class="font-semibold">{{ (cartSubtotal + tipSelected ) | currency}}</label>
        </div>
    </div>

    <div class="flex flex-col mt-4 p-4 bg-light rounded-md gap-y-3">
        <h4 class="text-center font-semibold text-lg">Método de pago</h4>

        <p class="text-background-100 text-center -mt-4 font-semibold">Selecciona el de tu preferencia</p>

        <div class="flex justify-between items-center">
            <label>Efectivo:</label>

            <input type="radio" class="h-5 w-5" name="paymentMethod"  value="efectivo"
                formControlName="paymentMethod" />
        </div>

        <div *ngIf="form.get('paymentMethod')?.value === 'efectivo'" >
            <input type="number" class="rounded-md w-full py-1.5 px-2 border-2 border-yellow-200 bg-gray-50 focus:border-2 focus:border-background-100 focus:ring-0 focus:outline-none" 
            placeholder="¿Con cuánto pagas?"
            formControlName="paidWith"/>

            <small *ngIf="form.controls['paidWith'].errors?.['required'] || form.controls['paidWith'].errors?.['min'] || form.controls['paidWith'].errors?.['pattern']" 
                class="text-sm text-error-100 italic">
                *Debe de ser un número <span class="font-semibold">no</span> menor al total
            </small>
        </div>

        <div class="flex justify-between items-center">
            <label>Transferencia:</label>

            <input type="radio" class="h-5 w-5" value="transferencia" name="paymentMethod" 
                formControlName="paymentMethod" />
        </div>

        <div class="flex flex-col items-center gap-y-1" *ngIf="form.get('paymentMethod')?.value === 'transferencia'">
            <label class="font-bold">Datos de transferencia</label>

            <p><span class="font-semibold">Nombre:</span> {{ transferData.name }}</p>
            <p><span class="font-semibold">Clabe:</span> {{ transferData.clabe }}</p>
            <p><span class="font-semibold">Banco:</span> {{ transferData.bankName }}</p>
            <button class="mt-2 rounded-md border border-primary-100 text-primary-100 flex justify-center items-centers p-1.5 hover:bg-primary-100 hover:text-white"
                (click)="copyClabe()">
                <i class="fa-regular fa-copy"></i>
                <p class="ml-3">Copiar Clabe</p>
            </button>
        </div>
    </div>

    <div class="flex flex-col mt-4 p-4 bg-light rounded-md gap-y-3">
        <h4 class="text-center font-semibold text-lg">Comentarios</h4>

        <div class="flex flex-col gap-y-0.5">
            <label>Comentarios:</label>

            <textarea type="text" class="textarea-ctrl"
                formControlName="comentaries" maxlength="250" placeholder="Ejemplo: No agregar servilletas, no agregar cubiertos"></textarea>
        </div>
    </div>
</form>
<div class="flex justify-between w-full mt-8">
    <button class="bg-gray-400 rounded-md py-2.5 px-4 flex justify-center items-center text-black hover:bg-gray-300"
        (click)="changePage(false)">
        <i class="fa-solid fa-chevron-left"></i>
        <p class="ml-2">Regresar</p>
    </button>
    <button class="bg-background rounded-md py-2.5 px-4 flex justify-center items-center text-black hover:bg-background-100"
        (click)="changePage(true)">
        <p class="mr-2">Validar pedido</p>
        <i class="fa-solid fa-check"></i>
    </button>
</div>