<div class="min-h-screen bg-gray-100 dark:bg-gray-900 flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 text-center">
      <div class="mb-8">
        <h2 class="mt-6 text-6xl font-extrabold text-gray-900 dark:text-gray-100">Sin servicio</h2>
        <p class="mt-2 text-3xl font-bold text-gray-900 dark:text-gray-100">El restaurante se encuentra fuera de servicio</p>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Favor de ver el horario de servicio e ingresar en el horario correspondiente</p>
      </div>
      <div class="mt-8 flex justify-center">
        <button class="flex justify-center items-center py-1.5 px-5 rounded-lg border border-primary-100 bg-orange-50 text-primary-100 hover:text-white hover:bg-primary-100"
            (click)="showSchedule()">
                <i class="fa-solid fa-clock"></i>
                <p class="ml-2">Horarios de servicio</p>
            </button>
      </div>
    </div>
  </div>