<div class="min-h-screen bg-gray-50 p-6 shadow-lg h-full">
    <div class="flex w-52 flex-col justify-between h-full">
        <div class="flex flex-1 flex-col gap-y-8">
            <h3 class="font-medium text-4xl text-center">Negocio</h3>

            <button class="flex justify-center items-center py-1.5 rounded-lg border border-gray-500 bg-gray-100 text-gray-500 hover:text-white hover:bg-yellow-500"
            (click)="showSchedule()">
                <i class="fa-solid fa-clock"></i>
                <p class="ml-2">Horarios de servicio</p>
            </button>

            <div class="flex flex-col justify-center gap-y-4 mt-6 text-gray-900">
                <div class="flex justify-center items-center text-3xl font-semibold">
                    <i class="fa-solid fa-utensils"></i>
                    <p class="ml-3">Menú</p>
                </div>
                <div class="flex flex-col justify-center text-lg font-medium">
                    <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-yellow-500 hover:text-white">UNO</button>
                    <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-yellow-500 hover:text-white">DOS</button>
                    <button class="flex justify-center items-center py-1.5 rounded-lg hover:bg-yellow-500 hover:text-white">THREE</button>
                </div>
            </div>
        </div>

        <button class="transition ease-in-out delay-150 flex justify-center items-center w-full py-2.5 rounded-full bg-yellow-500 text-white gap-x-1.5 font-semibold
        hover:-translate-y-1 hover:scale-110 duration-300"
        (click)="showCart()">
            <i class="fa-solid fa-cart-shopping text-xl"></i>
            <p class="rounded-full bg-red-600 h-6 w-6 p-0.5 flex justify-center items-center"><span class="text-center">99</span></p>
            <p>Artículos</p>
            <p>$1080.99</p>
        </button>
    </div>
</div>