<div class="p-4 rounded-b-lg md:min-h-screen md:p-6 md:h-full md:rounded-r-lg bg-light shadow-lg">
    <div class="flex md:hidden justify-between items-center">
        <div class="flex">
            <img class="w-10 mr-2" src="/img/logo.png" />

            <h3 class="font-medium text-2xl">Pastes</h3>
        </div>
        <div class="flex gap-x-6">
            <button (click)="showCart()" class="text-xl text-secondary-100">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button (click)="toggleMenu()" class="text-xl text-primary-100">
                <i class="fa-solid fa-bars"></i> 
            </button>
        </div>
    </div>

    <!-- Menú Toggle -->
    <div *ngIf="isMenuOpen" class="md:hidden flex flex-col gap-y-8 mt-4">
        <button class="flex justify-center items-center py-1.5 rounded-lg border border-primary-100 bg-orange-50 text-primary-100 hover:text-white hover:bg-primary-100"
        (click)="showSchedule()">
            <i class="fa-solid fa-clock"></i>
            <p class="ml-2">Horarios de servicio</p>
        </button>

        <div class="flex flex-col justify-center text-lg font-medium">
            <div class="flex justify-center items-center text-3xl font-semibold">
                <i class="fa-solid fa-utensils"></i>
                <p class="ml-3">Menú</p>
            </div>

            <a class="flex justify-center items-center py-1.5 rounded-lg hover:bg-primary hover:text-white"
                *ngFor="let item of options"
                [href]="item.route"
                (click)="toggleMenu()">
                <i [class]="item.icon"></i>

                <p class="ml-3">{{item.name}}</p>
            </a>
        </div>

        <button class="flex justify-center items-center w-full px-1.5 py-2.5 rounded-full bg-secondary-100 text-black gap-x-1.5 font-semibold btn-zoom"
            (click)="showCart()">
            <i class="fa-solid fa-cart-shopping text-xl"></i>
            <p class="rounded-full bg-error h-6 w-6 p-0.5 flex justify-center items-center"><span class="text-center">{{ numberCartItems }}</span></p>
            <p>Artículos</p>
            <p>{{ cartSubtotal | currency }}</p>
        </button>
    </div>

    <!-- Sidebar -->
    <div class="hidden md:flex w-60 flex-col justify-between h-full">
        <div class="flex flex-1 flex-col gap-y-4">
            <div class="flex flex-col justify-center items-center">
                <img class="w-40" src="/img/logo.png" />
            </div>

            <button class="flex justify-center items-center py-1.5 rounded-lg border border-primary-100 bg-orange-50 text-primary-100 hover:text-white hover:bg-primary-100"
                (click)="showSchedule()">
                <i class="fa-solid fa-clock"></i>
                <p class="ml-2">Horarios de servicio</p>
            </button>

            <div class="flex flex-col justify-center gap-y-4 mt-6 text-gray-900">
                <div class="flex justify-center items-center text-3xl font-semibold">
                    <i class="fa-solid fa-utensils"></i>
                    <p class="ml-3">Menú</p>
                </div>
                <div class="flex flex-col justify-center text-lg font-medium">
                    <a class="flex justify-center items-center py-1.5 rounded-lg hover:bg-primary hover:text-white"
                    *ngFor="let item of options"
                    [href]="item.route">
                    <i [class]="item.icon"></i>
                    <p class="ml-3">{{item.name}}</p>
                </a>
                </div>
            </div>
        </div>

        <button class="flex justify-center items-center w-full px-1.5 py-2.5 rounded-full bg-secondary-100 text-black gap-x-1.5 font-semibold btn-zoom"
        (click)="showCart()">
            <i class="fa-solid fa-cart-shopping text-xl"></i>
            <p class="rounded-full bg-error h-6 w-6 p-0.5 flex justify-center items-center"><span class="text-center">{{ numberCartItems }}</span></p>
            <p>Artículos</p>
            <p>{{ cartSubtotal | currency }}</p>
        </button>
    </div>
</div>