<li class="border-primary w-full flex flex-col"
    [class]="isLast ? 'border-none' : 'border-b-2' ">
    <div class="grid grid-cols-5 items-center py-2.5 gap-x-1 ">
    <p class="col-span-3">
        {{ item.product.name }} 
        <span class="ml-1 text-sm italic text-primary-100 font-semibold">x{{ item.quantity }}</span>
    </p>
    
    <p>{{ (item.product.price * item.quantity) | currency }}</p>
    
    <div class="flex flex-col gap-y-1.5 text-sm">
        <button class="p-1 bg-secondary rounded-full text-white hover:bg-secondary-100"
            (click)="showEditInput()">
            <i class="fa-solid fa-pencil"></i>
        </button>
        
        <button class="p-1 border border-error-100 rounded-full text-error-100 hover:bg-error-100 hover:text-white"
            (click)="deleteItem()">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>
    <div class="grid grid-cols-5 my-3 animate__animated" *ngIf="edit"
        [class]="edit ? 'animate__fadeIn' : 'animate__fadeOut'">
        <shared-quantity-buttons
            class="col-span-4"
            [quantity]="item.quantity"
            [smallSize]="true"
            (onQtyChange)="newNumber = $event">
        </shared-quantity-buttons>
        <button class="py-2 border border-primary-100 text-primary-100 hover:text-white hover:bg-primary-100 rounded-md"
            (click)="editQuantity()">
            Aceptar
        </button>
    </div>
    
</li>