<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle">
            <table class="w-full rounded-xl text-center">
                <thead>
                    <tr class="bg-yellow-100">
                        <th scope="col" class="text-center">Icon</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody class="bg-light">
                    
                </tbody>
            </table>
        </div>
    </div>

   
</div>